/* src/index.css */
@import "tailwindcss";
/* =========================================
   1. ประกาศ Font Face: KANIT (.ttf)
   ========================================= */

/* Thin (100) */
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* ExtraLight (200) */
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular (400) - ค่ามาตรฐาน */
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold (600) */
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold (800) */
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Black (900) */
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* =========================================
   2. ประกาศ Font Face: OUTFIT (.ttf)
   ========================================= */

/* Light (300) */
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium (500) */
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SemiBold (600) */
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold (800) */
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  /* font-family: "Elms Sans", sans-serif; */
  font-family: "Outfit", "Kanit", sans-serif;
}
h1 {
  /* font-family: "Elms Sans", sans-serif; */
  font-family: "Outfit", "Kanit", sans-serif;
}

p {
  /* font-family: "Elms Sans", sans-serif; */
  font-family: "Outfit", "Kanit", sans-serif;
}

.my-custom-class {
  /* font-family: "Elms Sans", sans-serif; */
  font-family: "Outfit", "Kanit", sans-serif;
}
